<nav class="navbar navbar-light navbar-toggleable-md fixed-top bg-faded">
  <button (click)="toggleNavbar()" type="button" class="navbar-toggler navbar-toggler-right">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">PonyRacer</a>
  <div [class.collapse]="navbarCollapsed" id="navbar" class="navbar-collapse">
    <div class="nav navbar-nav mr-auto">
      <a class="nav-item nav-link">Races</a>
    </div>
  </div>
</nav>